@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  
  .section__pic-container {
    height: 120px; /* Reduce height for smaller screens */
    width: 120px;  /* Reduce width for smaller screens */
    margin: 0 auto; /* Ensure it's centered */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2); /* Slightly smaller shadow */
  }

  .section__pic-container img {
    height: 100%; /* Ensure the image still fits fully */
    width: 100%;
    object-fit: cover; /* Maintain aspect ratio */
  }
  
  .about-containers {
    margin-top: 0;
  }

  /* Contact Section */
  #contact {
    padding: 20px; 
}

form {
    max-width: 90%; 
    padding: 10px; 
}

form .mb-3 {
    flex-direction: column; 
    align-items: flex-start; 
    margin-bottom: 15px;
}

form .form-label {
    flex: 1; 
    text-align: left;
    margin-bottom: 5px; 
}

form .form-control {
    
    width: 92%; 
}

form .btn {
    width: 100%; 
    font-size: 14px; 
    padding: 10px;
}


@media screen and (max-width: 768px) {
  #profile {
    margin: 0;
    padding: 15px;
    gap: 0;
    
  }

  #about {
    padding: 15px;
    margin: 0; /* Remove top margin */
    gap: 0;
  }

  body {
    overflow-x: hidden;
  }

  .section__pic-container {
    margin-bottom: 20px;
  }

  .about__pic-container {
    height: auto;
    width: 100%; 
    margin: 0 auto; 
  }

  .about__pic-container img {
    width: 100%; 
    height: auto;
  }

  .text-container p {
    font-size: 0.9rem;
  }
    
}
@media screen and (max-width: 600px) {

  }
  #profile {
    min-height: auto;
    margin-bottom: 0;
    gap: 1rem;
    
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: 200px;
    height: 200px;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
}
